.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-family: "Roboto Mono",monospace;
  }
  
  
  .row {

    font-family: "Roboto Mono",monospace;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    font-size: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    font-family: "Roboto Mono",monospace;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-family: "Roboto Mono",monospace;
  }

  table, th, td {
    table-layout: fixed;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

